*{
    margin:0px;
    padding:0px
}

body{
    font-family: 'Courier New', Courier, monospace;
    
    width: 80%;
    /* max-width: 350px; */
    min-height: 100vh;
    margin:auto;

    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
}

footer{
    width: 100%;
    align-self: flex-end;
    display:flex;
    align-content: center;
    justify-content: center;
    text-align: center;
    gap:3vw;
    padding-top:2%;
    border-top: grey solid 1px;
    opacity: .8;
}

#svg{
    height: 20px;
    width: 16px;
}